#quote-box {
  display: flex;
  flex-direction: column;  
  background: white;
  width: 40rem;
  margin: 10rem auto;
  border-radius: 25px;
  max-height: 350px;

 
}

a{
  margin: 1px 150rem 10px 40px;
}
img{
  height: 3rem;
  align-items: flex-start;
}
body{
  background-color: rgb(18, 15, 153);
}
#author{
  text-align: right;
  padding-right: 1em;
  font-size:1.9em;
}
#text{
  padding:15px 8px 15px 40px;
  font-size:1.5em;
}
#new-quote{
  background-color: rgb(85, 82, 230);
  max-height: 15rem;
  margin: 35px 30px 10px 75%;
  border-radius: 25px;
  color: white;
  
  
}

